<div class="clearfix p4" id="grid">
  <h2 class="mt0 lighter">06. Grid</h2>

  <div class="clearfix mxn2">
    <%= render './grid/clearfix.html' %>
  </div>

  <hr>

  <div class="clearfix mxn2">
    <%= render './grid/simple-columns.html' %>
  </div>

  <hr>

  <div class="clearfix mxn2">
    <%= render './grid/gutters.html' %>
  </div>

  <hr>

  <p>
    Learn more about grids and see advanced layout examples on
    <a class="ml1 button button-outline blue" href="grid.html">grid.html</a>
  </p>
</div>
