<h3 class="h5 bold caps">Media object</h3>

<% code(insert: true) do %>
<div class="clearfix mb2 outline-blue">
  <div class="left p2 mr1">Image</div>
  <div class="overflow-hidden">
    <p>
      <b>Body</b> Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham
      hock filet mignon shoulder hamburger pig venison.
    </p>
  </div>
</div>
<% end %>

<h3 class="h5 bold caps">Double sided media object</h3>

<% code(insert: true) do %>
<div class="clearfix mb2 outline-blue">
  <div class="left p2 mr1">Image</div>
  <div class="right p2 ml1">Image</div>
  <div class="overflow-hidden">
    <p>
      <b>Body</b> Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham
      hock filet mignon shoulder hamburger pig venison.
    </p>
  </div>
</div>
<% end %>

<h3 class="h5 bold caps">Full height section</h3>

<p>
  To make a full height section, the html and body tags must first be
  full height. A valid example html document is:
</p>

<% code do %>
<!doctype html>
<html class="body-full-height">
  <head>
    <title>Full height section example</title>
    <link rel="stylesheet" href="/css/base.min.css">
  </head>
  <body class="body-full-height">
    <div class="full-height white bg-blue">
      <div class="center py4">
        <h1>First</h1>
      </div>
    </div>
    <div class="full-height white bg-green">
      <div class="center py4">
        <h1>Second</h1>
      </div>
    </div>
  </body>
</html>
<% end %>

<p>
  This example can be seen at
  <a class="ml1 button button-outline blue" href="/full-height-example.html">full-height-example.html</a>
</p>

<p>
  Also, the <a href="#begin">first section</a> of this page uses this
  technique. It also employs a table layout for vertical centering.
</p>

<h3 class="h5 bold caps">Containers</h3>

<p>
  To constrain the width to reasonable size, we have containers to
  set a max-width. The container width is set with the
  <code>--container-width</code> variable.
</p>

<% code do %>
<div class="container">
  <div class="clearfix">
  </div>
</div>
<% end %>
