<header class="full-width py2 bg-blue true-white md-table page-header">
  <style>
    .page-header {
      margin-top:60px;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      top: 0;
    }
  </style>
  <div>
    <div class="container mt3 mb3 clearfix">
      <h2 class="inline-block left m0 lighter"><%= title %></h2>
      <button type="submit" class="right button-white-header">New Project</button>
    </div>
  </div>
  <div class="container">
    <%= render './tabs.html' %>
  </div>
</header>