<header class="full-width py2 bg-blue true-white md-table page-header">
  <style>
    .page-header {
      margin-top:60px;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      top: 0;
    }
  </style>
  <div>
    <div class="container mt3 mb3 clearfix">
      <div class="inline-block col col-8 left">
        <h2 class="mt0 mb1 lighter"><%= title %></h2>
        <p class="block m0"><%= copy %></p>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render './tabs.html' %>
  </div>
</header>