<div class="lg-col-right lg-col-5 px2">
  <h3 class="h5 bold caps mt0">Simple columns</h3>
  <p>
    Add columns using the <code>.col</code> and grid width
    <code>.col-N</code> classes. <code>.col</code> floats elements left
    and sets box-sizing to border-box. <code>.col-N</code> sets width
    according to a 12 column grid. The total number of columns in a row
    should add up to 12.
  </p>
</div>
<div class="lg-col lg-col-7 px2">

<% code(insert: true) do %>
<div class="clearfix outline-blue mb2">
  <div class="col col-6">.col.col-6</div>
  <div class="col col-6">.col.col-6</div>
</div>
<% end %>

</div>
