@import 'colors.css/myth/variables';

.faded {
  opacity: .5;
}

.wunderlist-gray {
  color: var(--wunderlist-gray);
}

.bg-wunderlist-gray {
  background-color: var(--wunderlist-gray);
}

.lightest-gray {
  color: var(--lightest-gray);
}

.bg-lightest-gray {
  background-color: var(--lightest-gray);
}

.black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.off-white {
  color: var(--off-white);
}

.bg-off-white {
  background-color: var(--off-white);
}

.true-white {
  color: white;
}

.bg-true-white {
  background-color: white;
}

.dark-blue {
  color: var(--dark-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.transparent-light-blue {
  color: var(--transparent-light-blue);
}

.bg-transparent-light-blue {
  background-color: var(--transparent-light-blue);
}

.border-transparent-light-blue {
  border-color: var(--transparent-light-blue-border);
}

.transparent-green {
  color: var(--transparent-green);
}

.bg-transparent-green {
  background-color: var(--transparent-green);
}

.border-transparent-green {
  border-color: var(--transparent-green);
}

.transparent-blue {
  color: var(--transparent-blue);
}

.bg-transparent-blue {
  background-color: var(--transparent-blue);
}

.border-transparent-blue {
  border-color: var(--transparent-blue);
}

.transparent-yellow {
  color: var(--transparent-yellow);
}

.bg-transparent-yellow {
  background-color: var(--transparent-yellow);
}

.border-transparent-yellow {
  border-color: var(--transparent-yellow);
}

.transparent-red {
  color: var(--transparent-red);
}

.bg-transparent-red {
  background-color: var(--transparent-red);
}

.border-transparent-red {
  border-color: var(--transparent-red);
}

.drop-shadow {
  box-shadow: 0 1px 6px rgba(0,0,0,.08);
}
