@import 'colors.css/myth/variables';

.faded {
  opacity: .5;
}

.wunderlist-gray {
  color: var(--wunderlist-gray);
}

.bg-wunderlist-gray {
  background-color: var(--wunderlist-gray);
}

.lightest-gray {
  color: var(--lightest-gray);
}

.bg-lightest-gray {
  background-color: var(--lightest-gray);
}

.black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.off-white {
  color: var(--off-white);
}

.bg-off-white {
  background-color: var(--off-white);
}

.true-white {
  color: white;
}

.bg-true-white {
  background-color: white;
}

.dark-blue {
  color: var(--dark-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.transparent-light-blue {
  color: var(--transparent-light-blue);
}

.bg-transparent-light-blue {
  background-color: var(--transparent-light-blue);
}

.drop-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,.08);
}
