body {
  color: var(--mid-gray);
}

.faded {
  opacity: .5;
}

.wunderlist-gray {
  color: var(--wunderlist-gray);
}

.bg-wunderlist-gray {
  background-color: var(--wunderlist-gray);
}

.lightest-gray {
  color: var(--lightest-gray);
}

.bg-lightest-gray {
  background-color: var(--lightest-gray);
}

.black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.off-white {
  color: var(--off-white);
}

.bg-off-white {
  background-color: var(--off-white);
}

.true-white {
  color: white;
}

.bg-true-white {
  background-color: white;
}

.dark-blue {
  color: var(--dark-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.light-blue {
  color: var(--light-blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}



.border-light-blue {
  border-color: var(--light-blue-border);
}

