.font-size-0 { font-size: 0; }

@import './lib/fonts';
@import './lib/responsive-states';
@import './lib/normalize';
@import './lib/forms';
@import './lib/position';
@import './lib/typography';
@import './lib/buttons';
@import './lib/menubar';
@import './lib/tabs';
@import './lib/borders';
@import './lib/grid';
@import './lib/table-object';
@import './lib/layout';
@import './lib/white-space';
@import './lib/tables';
@import './lib/colors';
@import './lib/animations';
@import './lib/general';
@import './lib/variables';

.outline-blue * { box-shadow: 0 0 0 1px rgba(var(--blue), .75) }
