@font-face {
  font-family: 'Wundercon';
  font-weight: 400;
  font-style: normal;
  src: url("<%= $font_host %>/wundercon-webfont.woff2") format('woff2'),
       url("<%= $font_host %>/wundercon-webfont.woff") format('woff'),
       url("<%= $font_host %>/wundercon-webfont.ttf") format('truetype');
}

@font-face {
  font-family: 'Wundercon';
  font-weight: 300;
  font-style: normal;
  src: url("<%= $font_host %>/wundercon-light-webfont.woff2") format('woff2'),
       url("<%= $font_host %>/wundercon-light-webfont.woff") format('woff'),
       url("<%= $font_host %>/wundercon-light-webfont.ttf") format('truetype');
}

.wundercon {
  font-family: 'Wundercon';
  font-weight: 300;
  min-width: 1em;
  line-height: 1em;
}

.wundercon.normal {
  font-size: 20px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

<% $data[:pictograms].each do |row| %>
.icon-<%= row[0] %>:before {
  content: '<%= row[1] %>';
}
<% end %>
