/* Basscss Utility Responsive States */

.xsm-show, .sm-show, .md-show, .lg-show, .xlg-show {
  display: none !important
}

.xsm-show-inline, .sm-show-inline, .md-show-inline, .lg-show-inline, .xlg-show-inline {
  display: none !important
}

@media (--breakpoint-xsm) {
  .xsm-show-inline { display: inline-block !important }
}

@media (--breakpoint-sm) {
  .sm-show-inline { display: inline-block !important }
}

@media (--breakpoint-md) {
  .md-show-inline { display: inline-block !important }
}

@media (--breakpoint-lg) {
  .lg-show-inline { display: inline-block !important }
}

@media (--breakpoint-xlg) {
  .xlg-show-inline { display: inline-block !important }
}

@media (--breakpoint-xsm) {
  .xsm-show { display: block !important }
}

@media (--breakpoint-sm) {
  .sm-show { display: block !important }
}

@media (--breakpoint-md) {
  .md-show { display: block !important }
}

@media (--breakpoint-lg) {
  .lg-show { display: block !important }
}

@media (--breakpoint-xlg) {
  .xlg-show { display: block !important }
}

@media (--breakpoint-xsm) {
  .xsm-hide { display: none !important }
}

@media (--breakpoint-sm) {
  .sm-hide { display: none !important }
}

@media (--breakpoint-md) {
  .md-hide { display: none !important }
}

@media (--breakpoint-lg) {
  .lg-hide { display: none !important }
}

@media (--breakpoint-xlg) {
  .xlg-hide { display: none !important }
}

.display-none { display: none !important }

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

