table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: var(--table-header-font-weight);
}

th,
td {
  padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
  line-height: inherit;
}

th { vertical-align: bottom }
td { vertical-align: top }

.table-light th,
.table-light td {
  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
  border-bottom-color: var(--border-color);
}

.table-light tr:last-child td {
  border-bottom: 0;
}
