.table {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table-fixed { table-layout: fixed }

<% ["xsm", "sm", "md", "lg", "xlg"].forEach(function(size) { %>
@media (--breakpoint-<%= size %>) {

  .<%= size %>-table {
    display: table;
    width: 100%;
  }
  .<%= size %>-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

}
<% }) %>
