body {
  -webkit-font-smoothing: antialiased;
  font-weight: var(--normal-font-weight);
}

.uppercase {
  text-transform: uppercase;
}

p, dl, ol, ul {
  font-size: 1rem;
}

.regular {
  font-weight: var(--normal-font-weight);
}

code, pre {
  background-color: var(--light-blue);
}

.lighter {
  font-weight: var(--light-font-weight);
}

.heavier {
  font-weight: var(--heavy-font-weight);
}

.wundercon {
  font-family: 'Wundercon';
}
