body {
  -webkit-font-smoothing: antialiased;
  font-weight: var(--normal-font-weight);
}

.uppercase {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

p, dl, ol, ul {
  font-size: 1rem;
}

.regular {
  font-weight: var(--normal-font-weight);
}

code, pre {
  background-color: var(--transparent-light-blue);
  border: 1px solid var(--transparent-light-blue-border);
}

pre {
  padding: .5rem;
}

code {
  padding: 2px;
}

pre > code {
  padding: 0;
  border: none;
  background-color: transparent;
}

.lighter {
  font-weight: var(--light-font-weight);
}

.heavier {
  font-weight: var(--heavy-font-weight);
}

.wundercon {
  font-family: 'Wundercon';
}

.letter-spacing {
  letter-spacing: 1px;
}

.line-height-0 {
  line-height: 0;
}

.line-height-1 {
  line-height: 1;
}

