body {
  -webkit-font-smoothing: antialiased;
  font-weight: var(--normal-font-weight);
}

h1, h2, .h1, .h2 {
  font-weight: var(--light-font-weight);
}

h3, h4, .h3, .h4 {
  font-weight: var(--bold-font-weight);
}

h5, .h5 {
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

h6, .h6 {
  font-weight: var(--normal-font-weight);
}

p, dl, ol, ul {
  font-size: 1rem;
}

.regular {
  font-weight: var(--normal-font-weight);
}

code, pre {
  background-color: var(--light-blue);
}

.lighter {
  font-weight: var(--light-font-weight);
}

.heavier {
  font-weight: var(--heavy-font-weight);
}

.wundercon {
  font-family: 'Wundercon';
}
