<!DOCTYPE html>
<html class="body-full-height">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta title="description" content="">
    <meta title="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/pictograms.min.css">
    <style>
      /* app specific css */

      .color-swatch {
        width: 120px;
      }

      .color-swatch-description {
        margin-top: 100px;
      }

      .pictogram {
        width: 80px;
        text-align: center;
        margin-right: 2rem;
        margin-bottom: 1rem;
        display: inline-block;
      }

      .pictogram-square {
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
      }

      .pictogram-key {
        position: absolute;
        right: 0;
        top: 0;
        padding: .25rem .5rem;
      }

      .pictogram-icon {
        font-size: 2.75rem; /* 44px / 16px */
        position: relative;
        top: 10px;
      }

    </style>
  </head>
  <body class="body-full-height">

    <div class="md-table white bg-red full-height">
      <div class="p4 md-table-cell md-col-6">
        <h1 class="m0 lighter">Wunderlist</h1>
        <h2 class="m0 lighter muted">Styleguide</h2>
      </div>
      <div class="md-table-cell p4 md-col-6">
        <p class="px4">
          Inside this document you'll find everything you need to know about
          our Wunderlist visual styles and a guide to start designing for
          Wunderlist on the web.
        </p>
      </div>
    </div>

    <div class="clearfix">
      <div class="p4 md-col md-col-6">
        <h2 class="mt0 lighter">01. Typography</h2>
        <p>
          Typography is very important. It’s the only element that speaks to
          both sides of the brain. It has to be both beautiful and legible.
          Typograpy is what converys our message and outputs our users content.
          As the UI of Wunderlsit continues to take the backseat, we have to
          call on other elements like typography to help carry on our
          character. Lato does this very well. It has a playful but structured
          nature. It has a great x-height is makes reading a breeze and looks
          great on all our platforms.
        </p>

        <ul class="clearfix list-reset center">
          <li class="col col-3">
            <div class="border rounded mr1">
              <h3 class="h1 mt2 mb2 lighter">Aa</h3>
              <p class="border-top bg-off-white m0 py1">Light</p>
            </div>
          </li>
          <li class="col col-3">
            <div class="border rounded mr1">
              <h3 class="h1 mt2 mb2 regular">Aa</h3>
              <p class="border-top bg-off-white m0 py1">Regular</p>
            </div>
          </li>
          <li class="col col-3">
            <div class="border rounded mr1">
              <h3 class="h1 mt2 mb2 bold">Aa</h3>
              <p class="border-top bg-off-white m0 py1">Bold</p>
            </div>
          </li>
          <li class="col col-3">
            <div class="border rounded mr1">
              <h3 class="h1 mt2 mb2 heavier">Aa</h3>
              <p class="border-top bg-off-white m0 py1">Heavy</p>
            </div>
          </li>
        </ul>

        <p class="h6 light-gray">
          Lato is a sanserif type­face fam­ily designed in the Sum­mer 2010 by
          Warsaw- based designer Łukasz Dziedzic(“Lato” means “Sum­mer” in
          Pol­ish). In Decem­ber 2010 the Lato fam­ily was pub­lished under the
          open- source Open Font License by his foundry tyPoland, with sup­port
          from Google.
        </p>

        <p class="h6">
          <a href="http://www.latofonts.com/">http://www.latofonts.com/</a>
        </p>
      </div>

      <div class="p4 md-col md-col-6 clearfix">
        <p>
          <h1 class="lighter inline-block m0">H1 Heading</h1>
          <span class="h6 lighter ml1">50px/Light</span>
        </p>
        <p>
          <h2 class="lighter inline-block m0">H2 Heading</h2>
          <span class="h6 lighter ml1">35px/Light</span>
        </p>
        <p>
          <h3 class="bold inline-block m0">H3 Heading</h3>
          <span class="h6 lighter ml1">28px/Bold</span>
        </p>
        <p>
          <h4 class="bold inline-block m0">H4 Heading</h4>
          <span class="h6 lighter ml1">18px/Bold</span>
        </p>
        <p>
          <h5 class="bold inline-block uppercase letter-spacing m0">H5 Heading</h5>
          <span class="h6 lighter ml1">12px/Bold+Uppercase+Letter Spacing</span>
        </p>
        <p>
          <h6 class="regular inline-block m0">H6 Heading</h6>
          <span class="h6 lighter ml1">12px/Regular</span>
        </p>

        <p class="h4 col col-10">
          Steven Paul "Steve" Jobs was an American entrepreneur, marketer, and
          inventor, who was the co-founder, chairman, and CEO of Apple Inc.
        </p>
        <span class="h6 lighter col col-2">18px/Regular</span>
        <p class="col col-10">
          Steven Paul "Steve" Jobs was an American entrepreneur, marketer, and
          inventor, who was the co-founder, chairman, and CEO of Apple Inc.
        </p>
        <span class="h6 lighter col col-2">16px/Regular</span>
        <p class="h5 lighter col col-10">
          Steven Paul "Steve" Jobs was an American entrepreneur, marketer, and
          inventor, who was the co-founder, chairman, and CEO of Apple Inc.
        </p>
        <span class="h6 lighter col col-2">12px/Regular</span>
      </div>

      <p class="p4">
        View more technical information on <a class="ml1 button button-outline blue" href="typography.html">typography.html</a>
      </p>
    </div>

    <div class="clearfix white bg-black">
      <div class="p4 md-col md-col-6">
        <h2 class="mt0 lighter">02. Colors</h2>

        <p>
          Colour can and often does invoke strong emotions. Sometimes it’s
          based soley on personal preferences but can also be influenced by
          cultural backgrounds. Our Wunderlist users have a strong emotional
          attachments to the product and we feel the choice of colour plays a
          role in that.
        </p>

        <p>
          View more information about colors, buttons, borders, etc with html
          examples and everything.
        </p>
        <p>
          <a class="button button-outline" href="colors.html">colors.html</a>
        </p>
      </div>

      <div class="p4 md-col md-col-6">
        <ul class="list-reset clearfix">
          <li class="mb2 col col-4">
            <div class="color-swatch clearfix bg-dark-gray mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Dark Gray</strong>
                #444444
              </p>
            </div>
          </li>
          <li class="mb2 col col-4">
            <div class="color-swatch clearfix bg-wunderlist-gray mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Gray</strong>
                #5B5B5B
              </p>
            </div>
          </li>
          <li class="mb2 col col-4">
            <div class="color-swatch clearfix bg-mid-gray mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Gray</strong>
                #737273
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-light-gray mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Light Gray</strong>
                #A3A3A3
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-white mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">White</strong>
                #FAFAFA
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-red mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Red</strong>
                #DB4C3F
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-blue mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Blue</strong>
                #2B88D9
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-green mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Green</strong>
                #65B01B
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-yellow mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Yellow</strong>
                #E6B035
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="p4 white bg-blue">
      <h2 class="mt0 lighter">03. Pictograms</h2>
      <p class="md-col-6 mb4">
        Just like typography, pictograms gives the UI context. They help
        illustrate the purpose of UI elements. Pictograms are often easier
        and faster to understand than text.
      </p>

      <ul class="list-reset lighter">
        <% pictograms.forEach(function(row) { %>
        <li class="pictogram">
          <span class="pictogram-square bg-darken-1 rounded">
            <span class="h6 pictogram-key"><%= row[1] %></span>
            <span class="h1 pictogram-icon wundercon icon-<%= row[0] %>" title="<%= row[0] %>"></span>
          </span>
          <span class="h6 uppercase"><%= row[0].split('-')[0] %></span>
        </li>
        <% }) %>
      </ul>
    </div>

    <div class="clearfix">
      <h2 class="mt0 lighter px4 mt4">04. Whitespace</h2>

      <div class="md-col-right md-col-5">
        <div class="ml2 mr4">
          <table class="mb2 table-light">
            <thead class="bg-darken-1">
              <tr> <th>Shorthand</th> <th>Description</th> </tr>
            </thead>
            <tbody>
              <tr> <td>m</td> <td>margin</td> </tr>
              <tr> <td>p</td> <td>padding</td> </tr>
              <tr> <td>t</td> <td>top</td> </tr>
              <tr> <td>r</td> <td>right</td> </tr>
              <tr> <td>b</td> <td>bottom</td> </tr>
              <tr> <td>l</td> <td>left</td> </tr>
              <tr> <td>x</td> <td>x-axis (left and right)</td> </tr>
              <tr> <td>y</td> <td>y-axis (top and bottom)</td> </tr>
              <tr> <td>n</td> <td>negative (margin only)</td> </tr>
              <tr> <td>half</td> <td>--space-half = .25rem</td> </tr>
              <tr> <td>1</td> <td>--space-1 = .5rem</td> </tr>
              <tr> <td>2</td> <td>--space-2 = 1rem</td> </tr>
              <tr> <td>3</td> <td>--space-3 = 2rem</td> </tr>
              <tr> <td>4</td> <td>--space-4 = 4rem</td> </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="md-col md-col-7">
        <div class="ml4 mr2">
          <p>
            Margin and padding utilities are based on a global white space scale
            defined with variables. These utilities use a shorthand naming
            convention.
          </p>

          <h3 class="h5 bold uppercase letterspacing">Margins</h3>

          <p>
            Change or reset default margins using the global white space scale.
            Negative x-axis margins are used to offset padding. Margin auto is
            used to horizontally center block-level elements with a set width.
          </p>

          <div class="outline-blue clearfix">
            <h1 class="m0">Good morning! <span>.m0</span></h1>
            <p class="mb2">Hallo <span>.mb2</span></p>
            <p class="bold">How are you? <span>.bold</span></p>
          </div>

          <h3 class="h5 bold uppercase letterspacing">Padding</h3>

          <p>
            Padding utilities are only available in symmetrical orientations.
            This is to normalize the spacing used around elements.
          </p>

          <div class="outline-blue clearfix">
            <h1 class="p1">Good morning! <span>.p1</span></h1>
            <p class="px4">Hallo <span>.px4</span></p>
            <p class="px4"><span class="block">
                <span class="mxn2">How are you? <span>.px4 &gt; .mxn2</span></span>
            </span></p>
          </div>

          <p>
            <span class="red">Margins and padding should never be declared
              outside of these utilities.</span> This is meant to help create
            consistent rhythm and avoid magic numbers. If, for some reason, the
            default white space scale does not accomodate your design,
            customize and extend it before implementation.
          </p>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <div class="md-col md-col-6 p4">
        <h2 class="mt0 lighter">05. Layout</h2>
      </div>
    </div>

    <div class="clearfix">
      <div class="md-col md-col-6 p4">
        <h2 class="mt0 lighter">06. Grid</h2>
      </div>
    </div>

    <div class="clearfix mt4">
      <div class="px4">
        <h2 class="lighter">07. Components</h2>

        <p class="col-6">
          Here’s an overview of the main components we use on the web. You can
          use these as a guideline but feel free to alter them to fit the
          purpose.
        </p>

        <p class="col-6">
          View all the components on <a class="ml1 button button-outline blue" href="components.html">components.html</a>
        </p>
      </div>

      <div class="md-col md-col-6 px4">
        <h3 class="my2 h5 bold uppercase">Alerts</h3>

        <!--
        TODO: Add left padding so the x never sits atop the text.
        -->

        <div class="mb2 border border-green green bg-transparent-green rounded relative">
          <p class="m0 p1">
            <strong>Well done!</strong> You successfully read this important alert message.
          </p>
          <a href="#!"><span class="wundercon icon-x green h3 absolute top-0 right-1" title="x"></span></a>
        </div>

        <div class="mb2 border border-blue blue bg-transparent-blue rounded relative">
          <p class="m0 p1">
            <strong>Heads up!</strong> This alert needs your attention.
          </p>
          <a href="#!"><span class="wundercon icon-x blue h3 absolute top-0 right-1" title="x"></span></a>
        </div>

        <div class="mb2 border border-yellow yellow bg-transparent-yellow rounded relative">
          <p class="m0 p1">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
          </p>
          <a href="#!"><span class="wundercon icon-x yellow h3 absolute top-0 right-1" title="x"></span></a>
        </div>

        <div class="mb2 border border-red red bg-transparent-red rounded relative">
          <p class="m0 p1">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
          </p>
          <a href="#!"><span class="wundercon icon-x red h3 absolute top-0 right-1" title="x"></span></a>
        </div>

        <h3 class="my2 h5 bold uppercase">Avatars</h3>

        <div class="clearfix">
          <p class="col col-4 mr2">
            <img class="vm rounded mr1" width="44" height="44" src="https://a.wunderlist.com/api/v1/avatar?user_id=5647467">
            <span class="h6 inline-block vm">Rounded rectangle</span>
          </p>
          <p class="col col-4">
            <img class="vm circle mr1" width="44" height="44" src="https://a.wunderlist.com/api/v1/avatar?user_id=5647467">
            <span class="h6 inline-block vm">Circular</span>
          </p>
        </div>

        <h3 class="my2 h5 bold uppercase">Buttons</h3>

        <div class="clearfix">
          <p>
            <a href="#!" class="button mb1">Primary button</a>
            <a href="#!" class="button mb1 button-outline bg-white wunderlist-gray">Secondary button</a>
            <a href="#!" class="button mb1 bg-red white">Danger button</a>
            <a href="#!" class="button mb1 bg-green white">Success button</a>
            <a href="#!" class="button mb1 button-outline blue">Outline button</a>
            <a href="#!" class="button mb1 button-transparent blue">Transparent button</a>
          </p>
        </div>

        <div class="clearfix">
          <p>
            <button type="submit" class="button inline-block mb1">Primary button</button>
            <button type="submit" class="button inline-block mb1 button-outline bg-white wunderlist-gray">Secondary button</button>
            <button type="submit" class="button inline-block mb1 bg-red white">Danger button</button>
            <button class="button inline-block mb1 bg-green white">Success button</button>
            <button class="button inline-block mb1 button-outline blue">Outline button</button>
            <button class="button mb1 button-transparent blue">Transparent button</button>
          </p>
        </div>

        <h3 class="my2 h5 bold uppercase">Code blocks</h3>

        <div class="clearfix">
          <pre class="blue"><code>{
  "id": 83526310,
  "created_at": "2013-08-30T08:29:46.203Z",
  "title": "Read Later",
  "list_type": "list",
  "type": "list",
  "revision": 10
}</code></pre>

          <p>Along with <code>inline.code("blocks");</code> as well.</p>
        </div>

        <div class="clearfix">
          <h3 class="my2 h5 bold uppercase">Boxes</h3>

          <div class="p2 mb2 bg-true-white border drop-shadow rounded clearfix">
            <p class="left mr2"><img class="block" src="/images/facebook.png" width="50" height="50"></p>
            <div class="overflow-hidden">
              <h3 class="gray h4 m0"><strong class="black">Facebook</strong> by Facebook Inc.</h2>
              <p class="m0">Post Tweets to your Facebook profile or page.</p>
              <p class="gray h5 m0">Permissions: read and write</p>
            </div>
          </div>
        </div>

        <div class="clearfix">
          <h3 class="my2 h5 bold uppercase">Menubar</h3>

          <div class="border rounded p2 bg-true-white drop-shadow clearfix">
            <p class="right">
              <a class="ml1 button button-outline blue" href="menubar.html">menubar.html</a>
            </p>
            <p>
              You can see the menubar at the top of this page.
              It deserves it's own page.
            </p>
          </div>
        </div>
      </div>

      <div class="md-col md-col-6 px4">
        <h3 class="m0 h5 bold uppercase">Notices</h3>
      </div>

    </div>

    <div class="clearfix">
      <div class="md-col md-col-6 p4">
        <h2 class="mt0 lighter">08. Responsiveness</h2>
      </div>
    </div>

    <script src="/js/app.min.js"></script>
  </body>
</html>
