<!DOCTYPE html>
<html class="body-full-height">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta title="description" content="">
    <meta title="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/pictograms.min.css">
    <style>
      /* app specific css */

      .color-swatch {
        width: 120px;
      }

      .color-swatch-description {
        margin-top: 100px;
      }

      .pictogram {
        width: 80px;
        text-align: center;
        margin-right: 2rem;
        margin-bottom: 1rem;
        display: inline-block;
      }

      .pictogram-square {
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
      }

      .pictogram-key {
        position: absolute;
        right: 0;
        top: 0;
        padding: .25rem .5rem;
      }

      .pictogram-icon {
        font-size: 2.75rem; /* 44px / 16px */
        position: relative;
        top: 20px;
      }

    </style>
  </head>
  <body class="body-full-height">

    <div class="md-table white bg-red full-height" id="begin">
      <div class="p4 md-table-cell md-col-6">
        <h1 class="m0 lighter">Wunderlist</h1>
        <h2 class="m0 lighter muted">Styleguide</h2>
      </div>
      <div class="md-table-cell p4 md-col-6">
        <p class="px4">
          Inside this document you'll find everything you need to know about
          our Wunderlist visual styles and a guide to start designing for
          Wunderlist on the web.
        </p>
      </div>
    </div>

    <div class="clearfix" id="typography">
      <div class="p4 lg-col lg-col-6">
        <h2 class="mt0 lighter">01. Typography</h2>
        <p>
          Typography is very important. It’s the only element that speaks to
          both sides of the brain. It has to be both beautiful and legible.
          Typograpy is what converys our message and outputs our users content.
          As the UI of Wunderlsit continues to take the backseat, we have to
          call on other elements like typography to help carry on our
          character. Lato does this very well. It has a playful but structured
          nature. It has a great x-height is makes reading a breeze and looks
          great on all our platforms.
        </p>

        <ul class="clearfix list-reset center">
          <li class="col col-3">
            <div class="border rounded mr1">
              <h3 class="h1 mt2 mb2 lighter">Aa</h3>
              <p class="border-top bg-off-white m0 py1">Light</p>
            </div>
          </li>
          <li class="col col-3">
            <div class="border rounded mr1">
              <h3 class="h1 mt2 mb2 regular">Aa</h3>
              <p class="border-top bg-off-white m0 py1">Regular</p>
            </div>
          </li>
          <li class="col col-3">
            <div class="border rounded mr1">
              <h3 class="h1 mt2 mb2 bold">Aa</h3>
              <p class="border-top bg-off-white m0 py1">Bold</p>
            </div>
          </li>
          <li class="col col-3">
            <div class="border rounded mr1">
              <h3 class="h1 mt2 mb2 heavier">Aa</h3>
              <p class="border-top bg-off-white m0 py1">Heavy</p>
            </div>
          </li>
        </ul>

        <p class="h6 light-gray">
          Lato is a sanserif typeface family designed in the Summer 2010 by
          Warsaw-based designer Łukasz Dziedzic(“Lato” means “Summer” in
          Polish). In Decem­ber 2010 the Lato family was published under the
          open-source Open Font License by his foundry tyPoland, with support
          from Google.
        </p>

        <p class="h6">
          <a href="http://www.latofonts.com/">http://www.latofonts.com/</a>
        </p>
      </div>

      <div class="p4 lg-col lg-col-6 clearfix">
        <p>
          <h1 class="lighter inline-block m0">H1 Heading</h1>
          <span class="h6 lighter ml1">50px/Light</span>
        </p>
        <p>
          <h2 class="lighter inline-block m0">H2 Heading</h2>
          <span class="h6 lighter ml1">35px/Light</span>
        </p>
        <p>
          <h3 class="bold inline-block m0">H3 Heading</h3>
          <span class="h6 lighter ml1">28px/Bold</span>
        </p>
        <p>
          <h4 class="bold inline-block m0">H4 Heading</h4>
          <span class="h6 lighter ml1">18px/Bold</span>
        </p>
        <p>
          <h5 class="bold inline-block caps m0">H5 Heading</h5>
          <span class="h6 lighter ml1">12px/Bold+Uppercase+Letter Spacing</span>
        </p>
        <p>
          <h6 class="regular inline-block m0">H6 Heading</h6>
          <span class="h6 lighter ml1">12px/Regular</span>
        </p>

        <p class="h4 col col-10">
          Steven Paul "Steve" Jobs was an American entrepreneur, marketer, and
          inventor, who was the co-founder, chairman, and CEO of Apple Inc.
        </p>
        <span class="h6 lighter col col-2">18px/Regular</span>
        <p class="col col-10">
          Steven Paul "Steve" Jobs was an American entrepreneur, marketer, and
          inventor, who was the co-founder, chairman, and CEO of Apple Inc.
        </p>
        <span class="h6 lighter col col-2">16px/Regular</span>
        <p class="h5 lighter col col-10">
          Steven Paul "Steve" Jobs was an American entrepreneur, marketer, and
          inventor, who was the co-founder, chairman, and CEO of Apple Inc.
        </p>
        <span class="h6 lighter col col-2">12px/Regular</span>
      </div>

      <p class="p4">
        View more technical information on <a class="ml1 button button-outline blue" href="typography.html">typography.html</a>
      </p>
    </div>

    <div class="clearfix white bg-black" id="colors">
      <div class="p4 lg-col lg-col-6">
        <h2 class="mt0 lighter">02. Colors</h2>

        <p>
          Colour can and often does invoke strong emotions. Sometimes it’s
          based soley on personal preferences but can also be influenced by
          cultural backgrounds. Our Wunderlist users have a strong emotional
          attachments to the product and we feel the choice of colour plays a
          role in that.
        </p>

        <p>
          View more information about colors, buttons, borders, etc with html
          examples and everything.
        </p>
        <p>
          <a class="button button-outline" href="colors.html">colors.html</a>
        </p>
      </div>

      <div class="p4 lg-col lg-col-6">
        <ul class="list-reset clearfix">
          <li class="mb2 col col-4">
            <div class="color-swatch clearfix bg-dark-gray mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Dark Gray</strong>
                #444444
              </p>
            </div>
          </li>
          <li class="mb2 col col-4">
            <div class="color-swatch clearfix bg-wunderlist-gray mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Gray</strong>
                #5B5B5B
              </p>
            </div>
          </li>
          <li class="mb2 col col-4">
            <div class="color-swatch clearfix bg-mid-gray mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Gray</strong>
                #737273
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-light-gray mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Light Gray</strong>
                #A3A3A3
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-white mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">White</strong>
                #FAFAFA
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-red mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Red</strong>
                #DB4C3F
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-blue mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Blue</strong>
                #2B88D9
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-green mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Green</strong>
                #65B01B
              </p>
            </div>
          </li>
          <li class="mt2 mb2 col col-4">
            <div class="color-swatch clearfix bg-yellow mx-auto rounded">
              <p class="color-swatch-description h6 m0 pyhalf bg-true-white center dark-gray rounded-bottom">
                <strong class="block">Wunderlist Yellow</strong>
                #E6B035
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="p4 white bg-blue" id="pictograms">
      <h2 class="mt0 lighter">03. Pictograms</h2>
      <p class="lg-col-6 mb4">
        Just like typography, pictograms gives the UI context. They help
        illustrate the purpose of UI elements. Pictograms are often easier
        and faster to understand than text.
      </p>

      <ul class="list-reset lighter">
        <% pictograms.forEach(function(row) { %>
        <li class="pictogram">
          <span class="pictogram-square bg-darken-1 rounded">
            <span class="h6 pictogram-key"><%= row[1] %></span>
            <span class="h1 pictogram-icon wundercon icon-<%= row[0] %>" title="<%= row[0] %>"></span>
          </span>
          <span class="h6 bold caps"><%= row[0].split('-')[0] %></span>
        </li>
        <% }) %>
      </ul>
    </div>

    <div class="clearfix" id="whitespace">
      <h2 class="mt0 lighter px4 mt4">04. Whitespace</h2>

      <div class="lg-col-right lg-col-5">
        <div class="ml2 mr4">
          <table class="mb2 table-light">
            <thead class="bg-darken-1">
              <tr> <th>Shorthand</th> <th>Description</th> </tr>
            </thead>
            <tbody>
              <tr> <td>m</td> <td>margin</td> </tr>
              <tr> <td>p</td> <td>padding</td> </tr>
              <tr> <td>t</td> <td>top</td> </tr>
              <tr> <td>r</td> <td>right</td> </tr>
              <tr> <td>b</td> <td>bottom</td> </tr>
              <tr> <td>l</td> <td>left</td> </tr>
              <tr> <td>x</td> <td>x-axis (left and right)</td> </tr>
              <tr> <td>y</td> <td>y-axis (top and bottom)</td> </tr>
              <tr> <td>n</td> <td>negative (margin only)</td> </tr>
              <tr> <td>half</td> <td>--space-half = .25rem</td> </tr>
              <tr> <td>1</td> <td>--space-1 = .5rem</td> </tr>
              <tr> <td>2</td> <td>--space-2 = 1rem</td> </tr>
              <tr> <td>3</td> <td>--space-3 = 2rem</td> </tr>
              <tr> <td>4</td> <td>--space-4 = 4rem</td> </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="lg-col lg-col-7">
        <div class="ml4 mr2">
          <!-- outdenting to make the code examples easier -->

<p>
  Margin and padding utilities are based on a global white space scale
  defined with variables. These utilities use a shorthand naming
  convention.
</p>

<h3 class="h5 bold caps">Margins</h3>

<p>
  Change or reset default margins using the global white space scale.
  Negative x-axis margins are used to offset padding. Margin auto is
  used to horizontally center block-level elements with a set width.
</p>

<div class="outline-blue clearfix">
  <h1 class="m0">Good morning! <span>.m0</span></h1>
  <p class="mb2">Hallo <span>.mb2</span></p>
  <p class="bold">How are you? <span>.bold</span></p>
</div>

```html
<div class="outline-blue clearfix">
  <h1 class="m0">Good morning! <span>.m0</span></h1>
  <p class="mb2">Hallo <span>.mb2</span></p>
  <p class="bold">How are you? <span>.bold</span></p>
</div>
```

<h3 class="h5 bold caps">Padding</h3>

<p>
  Padding utilities are only available in symmetrical orientations.
  This is to normalize the spacing used around elements.
</p>

<div class="outline-blue clearfix">
  <h1 class="p1">Good morning! <span>.p1</span></h1>
  <p class="px4">Hallo <span>.px4</span></p>
  <p class="px4"><span class="block">
    <span class="mxn2">
      How are you? <span>.px4 &gt; .mxn2</span>
    </span>
  </span></p>
</div>

```html
<div class="outline-blue clearfix">
  <h1 class="p1">Good morning! <span>.p1</span></h1>
  <p class="px4">Hallo <span>.px4</span></p>
  <p class="px4"><span class="block">
    <span class="mxn2">
      How are you? <span>.px4 &gt; .mxn2</span>
    </span>
  </span></p>
</div>
```

<p>
  <span class="red">Margins and padding should never be declared
    outside of these utilities.</span> This is meant to help create
  consistent rhythm and avoid magic numbers. If, for some reason, the
  default white space scale does not accomodate your design,
  customize and extend it before implementation.
</p>
        </div>
      </div>
    </div>

    <div class="clearfix" id="layout">
      <h2 class="mt4 lighter px4">05. Layout</h2>

      <div class="clearfix">
        <div class="lg-col-right lg-col-5 px4">
          <h3 class="h5 bold caps">Basic layout classes</h3>
```css
.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.border-box   { display: border-box }
.vm           { vertical-align: middle }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.left  { float: left }
.right { float: right }

.fit { max-width: 100% }

.half-width { width: 50% }
.full-width { width: 100% }
.full-height { min-height: 100% }

.body-full-height {
  height: 100%;
  min-height: 100%;
}

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

```
        </div>

        <div class="lg-col lg-col-7 px4">
          <!-- outdenting to make the code examples easier -->

<h3 class="h5 bold caps">Media object</h3>

<div class="clearfix mb2 outline-blue">
  <div class="left p2 mr1">Image</div>
  <div class="overflow-hidden">
    <p><b>Body</b> Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.</p>
  </div>
</div>

```html
<div class="clearfix mb2 outline-blue">
  <div class="left p2 mr1">Image</div>
  <div class="overflow-hidden">
    <p><b>Body</b> Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.</p>
  </div>
</div>
```

<h3 class="h5 bold caps">Double sided media object</h3>

<div class="clearfix mb2 outline-blue">
  <div class="left p2 mr1">Image</div>
  <div class="right p2 ml1">Image</div>
  <div class="overflow-hidden">
    <p><b>Body</b> Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.</p>
  </div>
</div>

```html
<div class="clearfix mb2 outline-blue">
  <div class="left p2 mr1">Image</div>
  <div class="right p2 ml1">Image</div>
  <div class="overflow-hidden">
    <p><b>Body</b> Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison.</p>
  </div>
</div>
```

<h3 class="h5 bold caps">Full height section</h3>

<p>
  To make a full height section, the html and body tags must first be
  full height. A valid example html document is:
</p>

```html
<!doctype html>
<html class="body-full-height">
  <head>
    <title>Full height section example</title>
    <link rel="stylesheet" href="/css/base.min.css">
  </head>
  <body class="body-full-height">
    <div class="full-height white bg-blue">
      <div class="center py4">
        <h1>First</h1>
      </div>
    </div>
    <div class="full-height white bg-green">
      <div class="center py4">
        <h1>Second</h1>
      </div>
    </div>
  </body>
</html>
```
<p>
  This example can be seen at
  <a class="ml1 button button-outline blue" href="full-height-example.html">full-height-example.html</a>
</p>

<p>
  Also, the <a href="#begin">first section</a> of this page uses this
  technique. It also employs a table layout for vertical centering.
</p>

<h3 class="h5 bold caps">Containers</h3>

<p>
  To constrain the width to reasonable size, we have containers to
  set a max-width. The container width is set with the
  --container-width variable.
</p>

```html
<div class="container">
  <div class="clearfix">
  </div>
</div>
```

        </div>
      </div>
    </div>

    <div class="clearfix p4" id="grid">
      <h2 class="mt0 lighter">06. Grid</h2>

      <!-- outdenting to make the code examples easier -->

        <div class="clearfix mxn2">
          <div class="lg-col-right lg-col-5 px2">

<h3 class="h5 bold caps mt0">Clearfix</h3>

<p>
  The grid allows a lot of flexibility in creating complex layouts.
  Start by using a <code>.clearfix</code> container.
</p>

          </div>
          <div class="lg-col lg-col-7 px2">

```html
<div class="clearfix">
</div>
```

          </div>
        </div>

        <hr>

        <div class="clearfix mxn2">
          <div class="lg-col-right lg-col-5 px2">

<h3 class="h5 bold caps mt0">Simple columns</h3>

<p>
  Add columns using the <code>.col</code> and grid width
  <code>.col-N</code> classes. <code>.col</code> floats elements left
  and sets box-sizing to border-box. <code>.col-N</code> sets width
  according to a 12 column grid. The total number of columns in a row
  should add up to 12.
</p>

          </div>
          <div class="lg-col lg-col-7 px2">

<div class="clearfix outline-blue mb2">
  <div class="col col-6">.col.col-6</div>
  <div class="col col-6">.col.col-6</div>
</div>

```html
<div class="clearfix outline-blue mb2">
  <div class="col col-6">.col.col-6</div>
  <div class="col col-6">.col.col-6</div>
</div>
```

          </div>
        </div>

        <hr>

        <div class="clearfix mxn2">
          <div class="lg-col-right lg-col-5 px2">

<h3 class="h5 bold caps mt0">Gutters</h3>

<p>
  Use padding and negative margin utilities to create gutters based on
  the white space scale. When using negative margin, be sure to
  compensate for the extra width created with a padded parent element or
  by using overflow hidden. Otherwise, horizontal scrolling may occur.
</p>

          </div>
          <div class="lg-col lg-col-7 px2">

<div class="clearfix outline-blue mb2">
  <div class="col col-5 px2"><div>.col .col-5 .px2</div></div>
  <div class="col col-7 px2"><div>.col .col-7 .px2</div></div>
</div>

```html
<div class="clearfix outline-blue mb2">
  <div class="col col-5 px2"><div>.col .col-5 .px2</div></div>
  <div class="col col-7 px2"><div>.col .col-7 .px2</div></div>
</div>
```

          </div>
        </div>

        <hr>

        <div class="clearfix mxn2">
          <div class="lg-col-right lg-col-5 px2">

<h3 class="h5 bold caps mt0">Negative margins</h3>

<p>
  An example using negative margin to expand the columns in an already
  padded section, which appears to have a single gutter in the center.
</p>

          </div>
          <div class="lg-col lg-col-7 px2">

<div class="px4 py2 outline-blue bg-off-white mb2">
  <div class="mb1">I am the normal size.</div>
  <div class="clearfix mxn4">
    <div class="col col-6 px4"><div>.col .col-6 .px4</div></div>
    <div class="col col-6 px4"><div>.col .col-6 .px4</div></div>
  </div>
</div>

```html
<div class="px4 py2 outline-blue bg-off-white mb2">
  <div class="mb1">I am the normal size.</div>
  <div class="clearfix mxn4">
    <div class="col col-6 px4"><div>.col .col-6 .px4</div></div>
    <div class="col col-6 px4"><div>.col .col-6 .px4</div></div>
  </div>
</div>
```

          </div>
        </div>

        <hr>

        <div class="clearfix mxn2">
          <div class="lg-col-right lg-col-5 px2">

<h3 class="h5 bold caps mt0">Nested columns</h3>

<p>
  Nest whole grid structures within columns to created nested grids.
</p>

          </div>
          <div class="lg-col lg-col-7 px2">

<div class="clearfix outline-blue mb2">
  <div class="sm-col sm-col-6 md-col-5 lg-col-4 px2"><div>Unnested</div></div>
  <div class="sm-col sm-col-6 md-col-7 lg-col-8 px2">
    <div class="clearfix mxn2">
      <div class="col col-6 px2"><div>Nested</div></div>
      <div class="col col-6 px2"><div>Nested</div></div>
    </div>
  </div>
</div>

```html
<div class="clearfix outline-blue mb2">
  <div class="sm-col sm-col-6 md-col-5 lg-col-4 px2"><div>Unnested</div></div>
  <div class="sm-col sm-col-6 md-col-7 lg-col-8 px2">
    <div class="clearfix mxn2">
      <div class="col col-6 px2"><div>Nested</div></div>
      <div class="col col-6 px2"><div>Nested</div></div>
    </div>
  </div>
</div>
```

          </div>
        </div>

        <hr>

        <div class="clearfix mxn2">
          <div class="lg-col-right lg-col-5 px2">

<h3 class="h5 bold caps mt0">Reversed order</h3>

<p>
  To reverse the order of columns, use the <code>.col-right</code> class
  to float right.
</p>

          </div>
          <div class="lg-col lg-col-7 px2">

<div class="clearfix outline-blue mb2">
  <div class="col-right col-6">.col-right.col-6</div>
  <div class="col col-6">.col.col-6</div>
</div>

```html
<div class="clearfix outline-blue mb2">
  <div class="col-right col-6">.col-right.col-6</div>
  <div class="col col-6">.col.col-6</div>
</div>
```

          </div>
        </div>

        <hr>

        <div class="clearfix mxn2">
          <div class="lg-col-right lg-col-5 px2">

<h3 class="h5 bold caps">Centered columns</h3>

<p>
  Use the .mx-auto class to center columns within their containers.
</p>

          </div>
          <div class="lg-col lg-col-7 px2">

<div class="clearfix outline-blue mb2">
  <div class="col-8 px2 mx-auto">
    <div>Centered Column</div>
  </div>
</div>

```html
<div class="clearfix outline-blue mb2">
  <div class="col-8 px2 mx-auto">
    <div>Centered Column</div>
  </div>
</div>
```

          </div>
        </div>

<h3>Grid layout examples</h3>

<section class="container p2 bg-off-white mb2 rounded">
  <h4 class="h5 bold caps">Three up</h4>
  <hr class="border-true-white">
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 px2">
      <h2 class="h1 lighter m0">Bacon</h2>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
    <div class="sm-col sm-col-4 px2">
      <h2 class="h1 lighter m0">Bratwurst</h2>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
    <div class="sm-col sm-col-4 px2">
      <h2 class="h1 lighter m0">Andouille</h2>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
  </div>
</section>

```html
<section class="container p2 bg-off-white mb2 rounded">
  <h4 class="h5 bold caps">Three up</h4>
  <hr class="border-true-white">
  <div class="clearfix mxn2">
    <div class="lg-col lg-col-4 px2">
      <h2 class="h1 lighter m0">Bacon</h2>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
    <div class="lg-col lg-col-4 px2">
      <h2 class="h1 lighter m0">Bratwurst</h2>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
    <div class="lg-col lg-col-4 px2">
      <h2 class="h1 lighter m0">Andouille</h2>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
  </div>
</section>
```

<section class="container p2">
  <h4 class="h5 bold caps">Blog teaser</h4>
  <hr>
  <h1 class="mt0"><a href="#!" class="black">Blog</a></h1>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-8 md-col-9 px2">
      <div>
        <h2 class="h3"><a href="#!" class="black">Blog Post Title</a></h2>
        <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
        <a href="#!">Read more</a>
      </div>
      <div>
        <h2 class="h3"><a href="#!" class="black">Blog Post Title</a></h2>
        <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
        <a href="#!">Read more</a>
      </div>
    </div>
    <div class="sm-col sm-col-4 md-col-3 px2 sm-show">
      <h3 class="h4">Categories</h3>
      <ul class="list-reset">
        <li><a href="#" class="">Bacon</a></li>
        <li><a href="#" class="">Bratwurst</a></li>
        <li><a href="#" class="">Andouille</a></li>
        <li><a href="#" class="">Pork Loin</a></li>
        <li><a href="#" class="">Corned Beef</a></li>
        <li><a href="#" class="">Pastrami</a></li>
      </ul>
    </div>
  </div>
</section>

```html
<section class="container p2">
  <h4 class="h5 bold caps">Blog teaser</h4>
  <hr>
  <h1 class="mt0"><a href="#!" class="black">Blog</a></h1>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-8 md-col-9 px2">
      <div>
        <h2 class="h3"><a href="#!" class="black">Blog Post Title</a></h2>
        <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
        <a href="#!">Read more</a>
      </div>
      <div>
        <h2 class="h3"><a href="#!" class="black">Blog Post Title</a></h2>
        <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
        <a href="#!">Read more</a>
      </div>
    </div>
    <div class="sm-col sm-col-4 md-col-3 px2 sm-show">
      <h3 class="h4">Categories</h3>
      <ul class="list-reset">
        <li><a href="#" class="">Bacon</a></li>
        <li><a href="#" class="">Bratwurst</a></li>
        <li><a href="#" class="">Andouille</a></li>
        <li><a href="#" class="">Pork Loin</a></li>
        <li><a href="#" class="">Corned Beef</a></li>
        <li><a href="#" class="">Pastrami</a></li>
      </ul>
    </div>
  </div>
</section>
```

    </div>

    <div class="clearfix" id="components">
      <div class="px4">
        <h2 class="lighter">07. Components</h2>

        <p class="lg-col-6">
          Here’s an overview of the main components we use on the web. You can
          use these as a guideline but feel free to alter them to fit the
          purpose.
        </p>

        <p class="lg-col-6">
          View all the components with html on <a class="ml1 button button-outline blue" href="components.html">components.html</a>
        </p>
      </div>

      <div class="lg-col lg-col-6 px4">
        <h3 class="my2 h5 bold caps">Alerts</h3>

        <!--
        TODO: Add left padding so the x never sits atop the text.
        -->

        <div class="clearfix mb2 border border-green green bg-transparent-green rounded relative">
          <a class="block right mt1 mr1" href="#!"><span class="block wundercon icon-x h3 green" title="x"></span></a>
          <p class="m0 p1 overflow-hidden">
            <strong>Well done!</strong> You successfully read this important alert message.
          </p>
        </div>

        <div class="clearfix mb2 border border-blue blue bg-transparent-blue rounded relative">
          <a class="block right mt1 mr1" href="#!"><span class="block wundercon icon-x h3 blue" title="x"></span></a>
          <p class="m0 p1">
            <strong>Heads up!</strong> This alert needs your attention.
          </p>
        </div>

        <div class="clearfix mb2 border border-yellow yellow bg-transparent-yellow rounded relative">
          <a class="block right mt1 mr1" href="#!"><span class="block wundercon icon-x h3 yellow" title="x"></span></a>
          <p class="m0 p1">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
          </p>
        </div>

        <div class="clearfix mb2 border border-red red bg-transparent-red rounded relative">
          <a class="block right mt1 mr1" href="#!"><span class="block wundercon icon-x h3 red" title="x"></span></a>
          <p class="m0 p1">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
          </p>
        </div>

        <h3 class="my2 h5 bold caps">Avatars</h3>

        <div class="clearfix">
          <p class="col col-4 mr2">
            <img class="vm rounded mr1" width="44" height="44" src="https://a.wunderlist.com/api/v1/avatar?user_id=5647467">
            <span class="h6 inline-block vm">Rounded rectangle</span>
          </p>
          <p class="col col-4">
            <img class="vm circle mr1" width="44" height="44" src="https://a.wunderlist.com/api/v1/avatar?user_id=5647467">
            <span class="h6 inline-block vm">Circular</span>
          </p>
        </div>

        <h3 class="my2 h5 bold caps">Buttons</h3>

        <div class="clearfix">
          <p>
            <a href="#!" class="button mb1">Primary button</a>
            <a href="#!" class="button mb1 button-outline bg-white wunderlist-gray">Secondary button</a>
            <a href="#!" class="button mb1 bg-red white">Danger button</a>
            <a href="#!" class="button mb1 bg-green white">Success button</a>
            <a href="#!" class="button mb1 button-outline blue">Outline button</a>
            <a href="#!" class="button mb1 button-transparent blue">Transparent button</a>
          </p>
        </div>

        <div class="clearfix">
          <p>
            <button type="submit" class="button inline-block mb1">Primary button</button>
            <button type="submit" class="button inline-block mb1 button-outline bg-white wunderlist-gray">Secondary button</button>
            <button type="submit" class="button inline-block mb1 bg-red white">Danger button</button>
            <button class="button inline-block mb1 bg-green white">Success button</button>
            <button class="button inline-block mb1 button-outline blue">Outline button</button>
            <button class="button mb1 button-transparent blue">Transparent button</button>
          </p>
        </div>

        <h3 class="my2 h5 bold caps">Code blocks</h3>

        <div class="clearfix">
          <pre class="blue"><code>{
  "id": 83526310,
  "created_at": "2013-08-30T08:29:46.203Z",
  "title": "Read Later",
  "list_type": "list",
  "type": "list",
  "revision": 10
}</code></pre>

          <p>Along with <code>inline.code("blocks");</code> as well.</p>
        </div>

        <div class="clearfix">
          <h3 class="my2 h5 bold caps">Boxes</h3>

          <div class="p2 mb2 bg-true-white border drop-shadow rounded clearfix">
            <p class="left mr2"><img class="block" src="/images/facebook.png" width="50" height="50"></p>
            <div class="overflow-hidden">
              <h3 class="gray h4 m0"><strong class="black">Facebook</strong> by Facebook Inc.</h2>
              <p class="m0">Post Tweets to your Facebook profile or page.</p>
              <p class="gray h5 m0">Permissions: read and write</p>
            </div>
          </div>

          <div class="mb2 bg-true-white border drop-shadow rounded clearfix">
            <div class="p2 bg-off-white">
              <h3 class="gray h4 m0">Box with header</h2>
            </div>
            <div class="px2 py1">
              <p class="m0">Post Tweets to your Facebook profile or page.</p>
              <p class="gray h5 m0">Permissions: read and write</p>
            </div>
          </div>

          <div class="mb2 p2 bg-true-white border drop-shadow rounded clearfix">
            <img class="fit" src="http://placekitten.com/g/800/600">
            <h3 class="mt1">Box with image</h3>
            <p class="m0">Post Tweets to your Facebook profile or page.</p>
            <p class="gray h5 m0">Permissions: read and write</p>
          </div>

          <div class="mb2 bg-true-white border drop-shadow rounded clearfix">
            <img class="fit block m0 rounded-top" src="http://placekitten.com/g/800/600">

            <div class="px2 py1">
              <h3 class="mt0">Box with image to the edge</h3>
              <p class="m0">Post Tweets to your Facebook profile or page.</p>
              <p class="gray h5 m0">Permissions: read and write</p>
            </div>
          </div>
        </div>
      </div>

      <div class="lg-col lg-col-6 px4">
        <div class="clearfix mb2">
          <h3 class="h5 bold caps">Menubar</h3>

          <div class="border rounded p2 bg-true-white drop-shadow clearfix">
            <p class="right">
              <a class="ml1 button button-outline blue" href="menubar.html">menubar.html</a>
            </p>
            <p>
              You can see the menubar at the top of this page.
              It deserves it's own page.
            </p>
          </div>
        </div>

        <h3 class="h5 bold caps">Badges</h3>

        <div class="bg-off-white rounded p2 mt1 mb2">
          <h1 class="mt0">Hamburger
            <span class="h2 inline-block px1 white bg-red rounded">Fries</span>
          </h1>
          <h2>Hamburger
            <span class="h3 inline-block px1 white bg-red rounded">Fries</span>
          </h2>
          <h3>Hamburger
            <span class="h4 inline-block px1 white bg-red rounded">Fries</span>
          </h3>
          <h4>Hamburger
            <span class="inline-block px1 white bg-red rounded">Fries</span>
          </h4>
          <h5>Hamburger
            <span class="inline-block px1 white bg-red rounded">Fries</span>
          </h5>
          <h6>Hamburger
            <span class="inline-block px1 white bg-red rounded">Fries</span>
          </h6>
          <hr class="border-white">
          <div>
            <span class="bold inline-block px1 white bg-blue rounded">Blue</span>
            <span class="bold inline-block px1 white bg-red rounded">Red</span>
            <span class="bold inline-block px1 white bg-yellow rounded">Yellow</span>
            <span class="bold inline-block px1 white bg-green rounded">Green</span>
            <span class="bold inline-block px1 white bg-gray rounded">Gray</span>
            <span class="bold inline-block px1 border border-gray rounded">Bordered</span>
          </div>
        </div>

        <h3 class="h5 bold caps">Notices</h3>

        <div class="clearfix white bg-red rounded overflow-hidden border drop-shadow mb2">
          <p class="m0 p1 left">
            <span style="font-size: 44px" class="wundercon icon-caution" title="caution"></span>
          </p>
          <div class="overflow-hidden gray bg-true-white px2 py1">
            <h4 class="mt0 bold">We couldn’t complete this action due to some errors.</h4>
            <p class="mb1">You must add a title to your project.</p>
          </div>
        </div>

        <h3 class="h5 bold caps">Forms</h3>

        <form class="bg-off-white rounded p2 mb2">
          <label>Name</label>
          <input type="text" class="block full-width field-light" placeholder="John Legend">
          <label>Email Address</label>
          <input type="text" class="block full-width field-light">
          <label>Password</label>
          <input type="password" class="block full-width field-light">
          <label>Select</label>
          <select class="block full-width field-light">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
            <option>Option 5</option>
          </select>
          <label class="block full-width mb2">
            <input type="checkbox" checked>
            Remember me
          </label>

          <div class="clearfix px2 py1 mb2 border rounded">
            <h4 class="h6 bold caps mt0 mb1">Gender</h4>

            <label class="block mb1 mr2">
              <input type="radio" name="gender" value="nope" checked>
              I'd rather not say
            </label>
            <label class="inline-block mr2">
              <input type="radio" name="gender" value="other">
              Other
            </label>
            <label class="inline-block mr2">
              <input type="radio" name="gender" value="female">
              Female
            </label>
            <label class="inline-block mr2">
              <input type="radio" name="gender" value="male">
              Male
            </label>
          </div>

          <button type="submit" class="button">Sign In</button>
          <button type="reset" class="button bg-gray">Cancel</button>
        </form>

        <form class="bg-off-white rounded p2 mb2">
          <fieldset class="fieldset-reset mb2">
            <legend class="h3 lighter">Fieldset Legend</legend>
            <label>Hamburger</label>
            <input type="text" class="block full-width field-light" value="Yes, please">
            <label>Hot Dog</label>
            <input type="text" class="block full-width field-light">
            <label>Message</label>
            <textarea rows="6" cols="33" class="block full-width field-light"></textarea>
          </fieldset>
          <button type="sumbit" class="button">Submit</button>
        </form>

        <div class="clearfix mb2">
          <h3 class="h5 bold caps">Labels</h3>

          <p>
            <span class="rounded phalf h6 caps bold blue border border-blue">Primary</span>
            <span class="rounded phalf h6 caps bold green border border-green">Success</span>
            <span class="rounded phalf h6 caps bold red border border-red">Danger</span>
            <span class="rounded phalf h6 caps bold yellow border border-yellow">Warning</span>
          </p>
        </div>

        <div class="clearfix mb2">
          <h3 class="h5 bold caps">Tables</h3>

          <div class="overflow-scroll rounded border drop-shadow">
            <table class="table-light">
              <thead>
                <tr>
                  <th>First name</th>
                  <th>Last name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>David</td>
                  <td>Jenson</td>
                </tr>
                <tr>
                  <td>Jenny</td>
                  <td>Linn</td>
                </tr>
                <tr>
                  <td>Bobby</td>
                  <td>Tables</td>
                </tr>
                <tr>
                  <td>Frank</td>
                  <td>Paul</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <div class="clearfix" id="responsiveness">
      <h2 class="lighter px4">08. Responsiveness</h2>

      <div class="lg-col lg-col-6 p4">
      </div>
    </div>

    <div class="clearfix" id="variables">
      <div class="p4">
        <h2 class="mt0 lighter">09. Variables</h2>

```css
@custom-media --breakpoint-xsm (min-width: 30em);
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 48em);
@custom-media --breakpoint-lg (min-width: 64em);
@custom-media --breakpoint-xlg (min-width: 81em);

:root {
  --font-family: Lato, Helvetica Neue, sans-serif;
  --line-height: 1.5;

  --light-font-weight: 300;
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --heavy-font-weight: 900;

  --heading-font-family: var(--font-family);
  --heading-font-weight: var(--normal-font-weight);
  --heading-line-height: 1.25;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;

  --h1: 3.125rem; /* 50px / 16px */
  --h2: 2.1875rem; /* 35px / 16px */
  --h3: 1.75rem; /* 28px / 16px */
  --h4: 1.125rem; /* 18px / 16px */
  --h5: .75rem; /* 12px / 16px */
  --h6: .75rem;
  --body-text: 1rem;

  --space-half: .25rem;
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --form-field-padding-x: .5rem;
  --form-field-border-color: var(--lighter-gray);

  --button-font-size: 1rem;
  --button-font-weight: var(--bold-font-weight);
  --button-line-height: 1.375rem; /* 22px / 16 px (22 is what's left after the padding y of 9 and 9) */
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;
  --button-small-padding-y: .25rem;
  --button-small-padding-x: .5rem;
  --button-big-padding-y: 1rem;
  --button-big-padding-x: 1.25rem;

  --container-width: 60em; /* 1024px / 16px */

  --true-black: black;
  --black: #1F252A;
  --blue: #2B88D9;
  --transparent-blue: rgba(43, 136, 217, .1);
  --dark-blue: #276092;
  --red: #DB4C3F;
  --transparent-red: rgba(214, 40, 34, .1);
  --green: #65B01B;
  --transparent-green: rgba(101, 176, 27, .1);
  --yellow: #E6B035;
  --transparent-yellow: rgba(255, 230, 95, .1);

  --dark-gray: #444444;
  --wunderlist-gray: #5B5B5B;
  --mid-gray: #737273;
  --light-gray: #A3A3A3;
  --lighter-gray: #DBDBDB;
  --lightest-gray: #EDEDED;
  --white: #FAFAFA;
  --off-white: #F8F8F8;
  --true-white: white;

  --transparent-light-blue: rgba(43, 136, 217, .04);
  --transparent-light-blue-border: rgba(43, 136, 217, .32);

  --darken-1: rgba(#000,.0625);
  --darken-2: rgba(#000,.125);
  --darken-3: rgba(#000,.25);
  --darken-4: rgba(#000,.5);

  --border-color: var(--lightest-gray);
  --border-width: 1px;
  --border-radius: 3px;

  --hover-background-color: var(--darken-1);

  --table-header-font-weight: var(--bold-font-weight);
  --table-cell-padding-x: var(--space-2);
  --table-cell-padding-y: var(--space-half);
}
```
      </div>
    </div>

    <script src="/js/app.min.js"></script>
  </body>
</html>
