<!DOCTYPE html>
<html class="body-full-height">
  <head>
    <meta charset="utf-8">
    <title>Active Projects</title>
    <meta title="description" content="">
    <meta title="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/essentials.min.css">
    <link rel="stylesheet" href="/css/pictograms.min.css">
    <style>
    </style>
  </head>
  <body>
    <%= render 'projects-app/menu.html' %>
    <%= render 'projects-app/page-header.html', title: 'Active Projects' %>
    <div class="container">
      <div class="list projects">
        <div class="clearfix p2 border-bottom item project">
          <div class="col col-8 project-details">
            <h4 class="mt0 mb0 bold title">Folders for Wunderlist</h4>
            <p class="mb0">Folders will allow users to declutter their sidebar and organize lists into projects and separate work lists from privat ones.</p>
          </div>
          <div class="col col-3 py2 members">
            <img class="vm circle mr1" width="32" height="32" src="/images/avatar/jarred.jpg">
          </div>
          <div class="col col-1 py2">
            <p class="right-align h4">2 minutes ago</p>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/app.min.js"></script>
  </body>
</html>
